@font-face {
	font-family: "Parenticon";
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/parents/parent-ids.eot");
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/parents/parent-ids.eot#iefix") format("embedded-opentype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/parents/parent-ids.woff") format("woff"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/parents/parent-ids.ttf") format("truetype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/parents/parent-ids.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="parenticon-"]:before, [class*=" parenticon-"]:before,
[class^="parenticon-"]:after, [class*=" parenticon-"]:after {
	font-family: Parenticon;
  /*font-size: 20px;
	margin-left: 20px;*/
	font-style: normal;
}.parenticon-salon-01-01:before {
	content: "\61";
}
.parenticon-salon-02:before {
	content: "\62";
}
.parenticon-salon-03:before {
	content: "\63";
}
.parenticon-salon-04:before {
	content: "\64";
}
.parenticon-salon-05:before {
	content: "\65";
}
