<div classss="p15 bg-white pt5 border-radius-3 pb5 mb10" id="zones-filter-holder" class="pt5 mb10 pb10">
  <div class=" pt5 pl0 pr0 p15 pb5 bb mb5"><b>WHERE</b></div>
  <ul class="list-unstyled mb0 bb">
    <li class="filter-holder list-group-item p0 b0 pointer-cursor mb10">
      <div style=" " class="inner-addon pointer-cursor right-addon">
        <label rel="tooltip " style="z-index:99;" class="glyphicon glyphicon-chevron-down fs75 pr0 "></label>
        <input placeholder="Type Location" rel="zone-list" class="filter form-control no-box-shadow pl0 pr0 pointer-cursor b0">
      </div>
    </li>
  </ul>
  <ul id="zone-list"  class="list-unstyled padded5 " style="">
    <li ng-class="{hidden:!venuesCtrl.isZoneSelected(zone)}" class="showable bb pb5 fw900 ovf-hidden nowrap pt5 " ng-repeat="zone in venuesCtrl.filters.zones">
      <a ng-href="<{ venuesCtrl.mzk_city_slug({subzone:zone, category:venuesCtrl.selects.category}) }>"  ng-click="venuesCtrl.updateZone(zone)">
        <span class="pull-left fs110 pr5">
          <i ng-class="{hidden:venuesCtrl.isZoneSelected(zone)}" class="fa fa-circle-o mr5"></i>
          <i ng-class="{hidden:!venuesCtrl.isZoneSelected(zone)}" class="fa fa-dot-circle-o selected mr5"></i>
        </span>
        <span class=" fw900 ovf-hidden nowrap"><{ zone.name }></span>
      </a>
    </li>
  </ul>
</div>
